.btn {
  font-size: larger;
  background-color: #2196f3;
  height: 36px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.626);
  padding-left: 16px;
  padding-right: 16px;
  color: white;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  background-color: #1c84d8;
}
.btn-vermelho {
  background-color: white;
  height: 36px;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.626);
  padding-left: 16px;
  padding-right: 16px;
  font-size: larger;
}
.btn-vermelho:hover {
  cursor: pointer;
}
.btn-vermelho:active {
  background-color: #feeaea;
}
#btn-add-categoria {
  margin-top: 16px;
  justify-self: end;
}
#btn-add-despesa {
  justify-self: end;
}
#btn-filtrar-categorias {
  margin-left: 24px;
}
#btn-filtrar-despesas {
  margin-left: 24px;
}
.container-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.pago {
  color: green;
}
.pago button {
  background-color: green;
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}
.pendente {
  color: red;
}
.pendente button {
  background-color: red;
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}
#lista-categorias .container-btns {
  justify-content: left;
}
#lista-categorias button {
  font-size: small;
}
