
.format-inputs input {
  height: 36px;
  width: 40ch;
  border: 0;
  border-bottom: 1px black solid;
  font-size: larger;
  margin-bottom: 32px;
}
.format-inputs input::placeholder {
  font-size: medium;
}
.format-inputs label {
  font-size: smaller;
}
.format-inputs input:focus {
  outline: 0;
  background: linear-gradient(
    180deg,
    rgba(200, 200, 200, 0) 0%,
    rgba(241, 240, 240, 1) 100%
  );
}
