@import url(grid.css);
@import url(variaveis.css);
@import url(header.css);
@import url(cards.css);
@import url(lista.css);
@import url(inputs.css);
@import url(btn.css);
@import url(modal.css);

body {
  padding: 0 0 64px 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#corpo {
  width: 100%;
  height: 100%;
  padding-top: 32px;
}
.inativo {
  display: none !important;
}
